@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-action="CatFacts" class="btn btn-primary">Find some facts about the cats</a>
</div>

